{% extends '_base.html' %}

{% block title %}champ Card{% endblock title %}
{% block content %}
<h1>  champ Card</h1>

{% for champ in object_list %}
<div class="card" id="project-3" >
        <h3>{{champ.champ}}</h3>
        <a href="{% url 'champ_detail' champ.id%}">Detail</a>
        <a href="{% url 'champ_update' champ.id%}" id="update_list">Change</a>
        <a href="{% url 'champ_delete' champ.id%}" id="delete_list">Remove</a>
      </div>
    
{% endfor%}
<div class="card" id="project-3">
<a href="{% url 'champ_create'%}">Add champ</a>
</div>
{% endblock content %}
